$nav-color: green;

#nav {
    width: 100%;
    background-color: $nav-color;
}

#top-menu {
    background-color: $nav-color;
}

foot {
    margin-top: 10px;

    a {
        color: #000;
    }

    a:hover {
        color: #006633;
    }
}